*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #020a18;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    list-style: none;
}

a,
button,
i {
    cursor: pointer;
}